html {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    }
    
body {
    top: 0px;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}
    
.container {
    background-image: url(./images/brushed_alu_dark_@2X.png);
    background-repeat: repeat; 
    display: grid;
    height: 100%;
    grid-template-rows: 20% 50% 30%;
}

.header {
    background-image: url(./images/pool_table.png);
        top: 0px;
        margin: 0px;
        padding: 0px;
        height: 100%;
        width: 100%;
        background-color: #ffbe76;
}
    
.container {
        background-color:red; 
        display: grid;
        height: 100%;
        grid-template-rows: 20% 50% 30%;
}

.header {
    background-color: yellowgreen;
    border-radius: 20px;
    padding: 0.8rem;
    margin: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.header h1 {
    font-family: "Kodchasan", sans-serif;
    font-size: 3rem;
    color: #dcdde1;
}

.list-help {
    font-family: "Kodchasan", sans-serif;
    background-image: url(./images/paper_2_@2X.png);
    border-radius: 20px;
    padding: 0.8rem;
    margin: 0.8rem;
    box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.button {
    background-image: url(./images/pool_table.png);
}

.header h1 {
    font-size: 3rem;
}

.list-help {
    background-color: cadetblue;
    border-radius: 20px;
    padding: 0.8rem;
    margin: 0.8rem;
}

.button {
    background-color: magenta;
    border-radius: 20px;
    padding: 0.8rem;
    margin: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.button img {
    background-image: url(./images/brushed_alu_dark_@2X.png);
    border-radius: 1rem;
    border: 0.1rem solid #2f3352;
}

.button img {
    border-radius: 1rem;
    border: 0.1rem solid #2f3542;
    width: 4rem;
    height: 4rem;
    background-color: white;
}

.button h2 {
    font-family: "Kodchasan", sans-serif;
    font-size: 2rem;
    color: #dcdde1;
    font-size: 2rem;
    color: black;
    margin-top: 5px;
    margin-bottom: 4px;
}